.align-start {
    float: left !important;
}

.align-end {
    float: right !important;
}

.contact {
    position: relative;
    background: url('../assets/landing_page/contact-section-1-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 1572px;
    background-position: 0;
    height: 100vh;
}

.contact > .background-film {
    position: absolute;
    background-color: rgb(235, 233, 218, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
}

.contact#contact-section-2 > .background-film {
    position: absolute;
    background-color: rgba(217, 190, 137, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
}

.contact-section-3 {
    position: relative;
    background: url('../assets/landing_page/contact-section-3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0;
    height: 100vh;
    padding: 0%;
}

.contact > .row.desc {
    background-position: center;
    padding-left: 80px;
    background-color: rgb(235, 233, 218, 0.7);
}

.contact > .row.desc.icon {
    padding-top: 120px
}

.contact > .row.desc.text {
    padding-top: 40px
}

.contact#contact-section-2 > .row.desc {
    background-position: center;
    background-color: rgba(217, 190, 137, 0.7) !important;
}

.contact > .row.pt-book-now-container {
    position: absolute;
    width: 70%;
    bottom: 0px;
    right: 12px;
}

.contact#contact-section-2 > .row.pt-book-now-container {
    position: absolute;
    width: 75%;
    bottom: 0px;
    right: 12px;
}

.book-now-container {
    width: 65%;
    background-color: rgba(85, 118, 137, 0.8);
}

.btn-white {
    font-size: .8rem;
    border-color: #fff !important;
    border-radius: 20px;
    --bs-btn-color: #fff;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

.btn-black {
    font-size: .8rem;
    border-color: #000 !important;
    border-radius: 20px;
    --bs-btn-color: #000;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

.text-white {
    color: #fff !important;
}

.text-black {
    color: #000 !important;
}


.book-now-main-container {
    /* position: absolute; */
    width: 65%;
    margin: 0, auto;
}

.contact-section-3 > .book-now-main-container > .book-now-cont {
    width: 65%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 20px 20px 70px;
}



/* Latest Update April 25, 2024 */

.contactSection {
    width: 100%;
    height: 100vh;
}
.contactVideoBackground {
    object-fit: cover !important;
    width: 100%;
    height: 100vh;
}

/* .contactSection {
    height: 70%;
    background: url(https://balaykobo.com/wp-content/uploads/2024/03/contactLandingPageBackground.png);
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
}

.contactSectionCont {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contactSectionTitle {
    font-family: Spectral;
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    margin-top: 15px;
}
.contactPageButtonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.contactBtnStyle {
    width: 228px;
    height: 35px;
    padding: 8px, 33.6px, 8px, 33.6px;
    border: 0.8px solid #496575;
    border-radius: 6px;
    gap: 83.2px;
    background-color: #557689;
    text-align: center;
    color: #FFF;
    font-family: 'Oxygen Mono';
    font-size: 12px;
    font-style: normal;
}

.contactIcon {
    width: 30px;
}


@media (max-width: 430px) {
    .contactSection {
        padding-top: 30%;
    }
    .contactSectionTitle {
        font-size: 16px;
    }
    .contactSectionCont {
        width: 80%;
    }
    .btnText {
        font-family: Oxygen Mono;
        font-size: 12px;
    }
    .contactPageButtonContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

} */