.gallery {
    background: url('../assets/second_page/background.jpg');
}
.gallery > .row {
    background-position: center;
    background-color: rgb(235, 233, 218, 0.7);
}

/* Gallery Page */
.gallery-main-cont {
    margin: 140px 30px 65px;
}

.gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.left-menu a {
    display: inline-block;
    margin-right: 90px;
    color: #000;
    text-decoration: none;
    /* font style */
    color: black;
    font-size: 14px;
    font-family: Oxygen Mono;
    font-weight: 400;
    line-height: 20.03px;
    word-wrap: break-word
}

.right-menu {
    justify-content: flex-end;
    align-items: center;
}

.icon-links a {
    margin-left: 15px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

/* css icons */
.icons-cont {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    gap: 18.69px;
}

.box-icon {
    width: 18px;
    height: 18px;
    border: 1.5px black solid;
}

.two-columns-icon {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.38px;
    display: flex;
}

.two-columns-icon .box-icon {
    width: 7.62px;
    height: 18px;
    border: 1.5px black solid;
}

.four-boxes-icon {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.50px;
    display: inline-flex;
}

.four-boxes-icon .column {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.50px;
    display: inline-flex;
}

.four-boxes-icon .box-icon {
    width: 8.25px;
    height: 8.25px;
    border: 1.5px black solid;
}

/* gallery images */
.gallery-images {
    padding: 60px 20px;
}

.gallery-images.cols-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.gallery-images.cols-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

.gallery-images.cols-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
}

.gallery-images.cols-3 .gallery-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.gallery-images.cols-6 .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.gallery-images.cols-12 .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.gallery-item {
    width: 100%;
    position: relative;
}

.gallery-item:hover img {
    filter: brightness(60%);
}

@media (max-width: 768px) {
    .gallery-images.cols-3 {
        grid-template-columns: repeat(2, 1fr); /* Two items per row on smaller screens */
    }

    .gallery-images.cols-6 {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery-images.cols-12 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 576px) {
    .gallery-images.cols-3 {
        grid-template-columns: repeat(1, 1fr); /* One item per row on even smaller screens */
    }

    .gallery-images.cols-6 {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-images.cols-12 {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Image Modal */
.modal-content.custom {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    padding-top: 25%;
    padding-bottom: 20%;
}

.modal-img-cont img {
    width: 40%;
    height: 40%;
}

.modal-desc {
    width: 100%;
    height: 100%;
    padding-left: 12.07px;
    padding-right: 12.07px;
    padding-top: 8.64px;
    padding-bottom: 8.64px;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(4.56px);
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8.86px;
    display: inline-flex"
}

.modal-desc span {
    color: black;
    font-size: 14.18px;
    font-family: Oxygen Mono;
    font-weight: 400;
    line-height: 21.30px;
    word-wrap: break-word"
}

.modalFade {
    transition: opacity 0.15s linear !important;
}

/* Hide class */
.hidden {
    display: none !important;
}

/* active class */
.filter-link.active {
    color: red;
}

@media screen and (max-width:406px) {
    .gallery-header {
        display: block;
        padding: 0px 10px;
    }
    .gallery-images {
        padding: 10px 10px;
    }
    .icons-cont {
        padding-top: 15px;
    }
}