/* Title */

/* .landing-title {
    position: absolute;
    left: calc(50% - 162px);
    bottom:50%;
    z-index:10;
    width: 374;
    height: auto;
} */

/* Arrow */

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  
  .arrow {
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    z-index:10;
    height: 40px;
    background-image: url(../assets/arrow-down.png);
    background-size: contain;
  }
  
  .bounce {
    -moz-animation: bounce 2s 3;
    -webkit-animation: bounce 2s 3;
    animation: bounce 2s 3;
  }
  .fade {
    opacity:0;
    transition: 1s all ease-out;
  }
/* Carousel */

.landing-img-1 {
    /* background: linear-gradient(to bottom, rgba(34, 34, 34, 0.6) 0%, rgba(34, 34, 34, 0.5) 100%), url(../assets/landing_page/new_landing_1.jpg); */
    background: url(../assets/landing_page/slide-1.jfif);
}
.landing-img-1-5 {
  /* background: linear-gradient(to bottom, rgba(34, 34, 34, 0.6) 0%, rgba(34, 34, 34, 0.5) 100%), url(../assets/landing_page/new_landing_1.jpg); */
  background: url(../assets/landing_page/slide-2.jfif);
}
.landing-img-2 {
    /* background: linear-gradient(to bottom, rgba(34, 34, 34, 0.6) 0%, rgba(34, 34, 34, 0.5) 100%), url(../assets/landing_page/new_landing_2.jpg); */
    background: url(../assets/landing_page/new_landing_2.jpg);
}
.landing-img-3 {
    /* background: linear-gradient(to bottom, rgba(34, 34, 34, 0.6) 0%, rgba(34, 34, 34, 0.5) 100%), url(../assets/landing_page/new_landing_3.jpg); */
    background: url(../assets/landing_page/new_landing_3.jpg);
}
.landing-img-4 {
    /* background: linear-gradient(to bottom, rgba(34, 34, 34, 0.6) 0%, rgba(34, 34, 34, 0.5) 100%), url(../assets/landing_page/new_landing_4.jpg); */
    background: url(../assets/landing_page/new_landing_4.jpg);
}
.landing-img-5 {
    /* background: linear-gradient(to bottom, rgba(34, 34, 34, 0.6) 0%, rgba(34, 34, 34, 0.5) 100%), url(../assets/landing_page/new_landing_5.jpg); */
    background: url(../assets/landing_page/new_landing_5.jpg);
}
.landing-img-6 {
  /* background: linear-gradient(to bottom, rgba(34, 34, 34, 0.6) 0%, rgba(34, 34, 34, 0.5) 100%), url(../assets/landing_page/new_landing_5.jpg); */
  background: url(../assets/landing_page/new_landing_6.jpg);
}
.carousel-image {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: calc(10rem - 4.5rem);
}

@media screen and (min-width:1200px) {
  .carousel-control-prev {
    left: -5%;
  }
  .carousel-control-next {
    right: -5%;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
}

.video-size {
  object-fit: cover !important;
  width: 100%;
  height: 100vh;
}
.video-wrapper {
  width: 100%;
  height: 100vh;
}
/* .carousel-inner {
    > .carousel-item {
     transition: none;
    }
} */

/* Ken Burns Effect */
@keyframes kenBurns {
  0% {
    transform: scale(1);
    transform-origin: center;
  }
  100% {
    transform: scale(1.1);
    transform-origin: center;
  }
}

/* .carousel-image {
  animation: kenBurns 10s infinite alternate;
} */

.carouselCaption {
  color: #FFF;
  /* Web/Web 24px/Regular */
  font-family: Spectral;
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  line-height: 30px; 
  text-wrap: wrap;
}

.video-caption {
  position: absolute;
  transform: translate(10vw, 70vh);
  z-index: 9999;
}
@media screen and (max-width:600px) {
  .video-caption {
    transform: translate(3vw, 70vh);
    margin-right: 3px;
    font-size: 14px;
  }
}
.caption-1 {
  transform: translate(10vw, 40vh);
  opacity: 1;
  animation: fadeInFromLeft 0.5s ease-out forwards;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 1;
    transform: translate(0, 40vh);
  }
  100% {
    opacity: 1;
    transform: translate(10vw, 40vh);
  }
}

.caption-2 {
  transform: translate(60vw, 25vh);
  opacity: 1;
  animation: fadeInFromTop 0.5s ease-out forwards;
}

@keyframes fadeInFromTop {
  0% {
    opacity: 1;
    transform: translate(100vw, 25vh);
  }
  100% {
    opacity: 1;
    transform: translate(60vw, 25vh);
  }
}

.caption-3 {
  transform: translate(20vw, 70vh);
  opacity: 1;
  animation: fadeInFromBottom 0.5s ease-out forwards;
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 1;
    transform: translate(20vw, 100vh);
  }
  100% {
    opacity: 1;
    transform: translate(20vw, 70vh);
  }
}

.caption-4 {
  transform: translate(40vw, 30vh);
  opacity: 1;
  animation: fadeInFromTop2 0.5s ease-out forwards;
}

@keyframes fadeInFromTop2 {
  0% {
    opacity: 1;
    transform: translate(40vw, 0vh);
  }
  100% {
    opacity: 1;
    transform: translate(40vw, 30vh);
  }
}

.caption-5 {
  opacity: 1;
  transform: translate(30vw, 70vh);
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    transform: translate(0, 70vh);
  }
  100% {
    opacity: 1;
    transform: translate(30vw, 70vh);
  }
}
@media (max-width: 767px) {
  .caption-1  {
    position: absolute;
    top: 30%;
    left: 0;
    font-size: 14px;
  }
  .caption-2  {
    font-size: 14px;
  }
  .caption-3  {
    font-size: 14px;
  }
  .caption-4  {
    font-size: 14px;
  }
  .caption-5  {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .caption-2 {
    transform: translate(30vw, 25vh);
    opacity: 1;
    animation: fadeInFromTop 0.5s ease-out forwards;
  }
  
  @keyframes fadeInFromTop {
    0% {
      opacity: 1;
      transform: translate(80vw, 25vh);
    }
    100% {
      opacity: 1;
      transform: translate(30vw, 25vh);
    }
  }
  
}


.indicator-number {
  position: absolute;
  left: calc(50% - 7px);
  bottom:2%;
  z-index:10;
  color: white;
  /* Web/Web 24px/Regular */
  font-family: Spectral;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 104%; 
}

.spinner-wrapper {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.875) 0%, rgba(0, 0, 0, 1) 100%), url(../assets/loadingBackground.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loadingLogoNew img {
  width: 250px;
  transform: translate(-0.8vw, 50vh);
  animation:  loadingAnimation 1.8s ease-out forwards;
}
.loadingLogo1 {
  /* margin-top: 50vh; */
  /* gap: 30%; */
  width: 115px;
  transform: translate(-0.8vw, 50vh);
  animation:  loadingAnimation 1.8s ease-out forwards;
}
.loadingLogo2 {
  /* margin-top: 50vh; */
  /* gap: 30%; */
  width: 115px;
  transform: translate(0.8vw, 50vh);
  animation:  loadingAnimation 1.8s ease-out forwards;
}

@keyframes loadingAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
/* @keyframes loadingAnimation1 {
  0% {
    opacity: 1;
    transform: translate(-15vw, 50vh);
  }
  50% {
    opacity: 1;
    transform: translate(-0.8vw, 50vh);
  }
  100% {
    opacity: 1;
    transform: translate(-0.8vw, 4vh);
  }
} */
/* @keyframes loadingAnimation2 {
  0% {
    opacity: 1;
    transform: translate(15vw, 50vh);
  }
  50% {
    opacity: 1;
    transform: translate(0.8vw, 50vh);
  }
  100% {
    opacity: 1;
    transform: translate(0.8vw, 4vh);
  }
} */

.comingSoon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  overflow-y: scroll;
}
.aboutLogoComingSoon {
  position: absolute;
  top: 5%;
  width: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aboutTextContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aboutTitleComingSoon {
  font-family: 'Spectral';
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  /* bottom:50%; */
  color: white;
  text-align: center;
  z-index: 10;
}
.aboutLogoComingSoon1 {
  font-family: 'Spectral';
  font-size: 20px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  /* bottom:50%; */
  color: white;
  z-index: 10;
}