* {
    box-sizing: border-box;
}
.slider {
    width: 100%;
    margin-top: 30px;
    /* margin-left: 2%; */

    /* margin: 0 auto; */
	/* padding: 30px 0; */
}

/* .slick-track:first-child {
    margin-left: 20px;
} */
.slick-track img {
    padding-right: 4px;
}
/* .slick-track {
    display: flex !important;
} */
/* .slick-track:first-child {
    margin-left: 20px;
} */
/* @media screen and (max-width: 1200) {
    .slick-track:first-child {
        margin-left: 20px;
    }
}
@media screen and (max-width: 600) {
    .slick-track:first-child {
        margin-left: 20px;
    }
} */
.slick-slide {
    max-height: 300px !important;
	text-align: center;
}
/* .slick-slide:first-child {
    margin-left: 10px;
}
*/
.slick-arrow {
	z-index: 1;
	width: 40px;
	height: 40px;
}
.slick-next {
	right: 0px;
}
.slick-prev {
	left: 2px;
}
.slick-slide img {
    width: 100%;
}
.slick-slide img:hover {
    filter: brightness(60%);
}
.slick-prev::before {
    display: none;
}
.slick-next::before {
    display: none;
}
/* .slick-prev::before {
    content: '<';
    font-family: FontAwesome;
    font-size: 28px;
    color: white;
    font-weight: 100;
}
.slick-next::before {
    content: '>';
    font-family: FontAwesome;
    font-size: 28px;
    color: white;
    font-weight: 100;
} */
.slick-next:hover {
    right: -2px;
}
.slick-prev:hover {
    left: -2px;
}
.slick-slide {
    transition: all ease-in-out .3s;
}
.featured-works {
    overflow-x: hidden;
    margin-top: 30px;
}
.featured-works > .row {
    /* line-height: 0; */
    -webkit-column-count: 5;    
    -webkit-column-gap: 0px;    
    -moz-column-count: 5;
    -moz-column-gap: 0px;
     column-count: 5;
     column-gap: 2px;
}
.featured-works img {
    width: 100% !important;    
    height: auto !important;
    padding-bottom: 2px;
}

.featured-works > .row {
    display:inline-block;    
    margin-right: auto;    
    margin-left: auto;
}

    /* Create four equal columns that sits next to each other */
.featured-works .cRow {
    /* -ms-flex: 20%; IE10 */
    /* flex: 20%; */
    /* padding: 0 2px; */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-left: 0;
    margin-right: 0; */
}
/* .featured-works .cRow:not(:nth-child(4n)) {
    padding-right: 4px;
} */
.featured-works img:hover {
    filter: brightness(60%);
}
/* .featured-works .cRow img {
    margin-bottom: 4px;
    vertical-align: middle;
    width: 100%;
    height: 500px;
    object-fit: cover;
} */
/* .featured-works .cRow img:not(:nth-child(4n)) {
    padding-right: 4px;
} */
.top-padding {
    padding-top: 75px !important;
}


@media (max-width: 1000px) {
    .featured-works .row {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
   }  
 @media (max-width: 800px) {
    .featured-works .row {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
   }  
 @media (max-width: 400px) {
    .featured-works .row {
    -moz-column-count:    1;
    -webkit-column-count: 1;
     column-count:        1;
    }
   }



/* @media screen and (max-width: 800px) {
    .featured-works .cRow img{
        max-width: auto;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .featured-works .cRow img {
        max-width: auto;
        height: auto;
    }
} */






.post-video {
    object-fit: cover !important;
    width: 100%;
    height: 100vh;
    /* margin-top: ; */
}
.post-title {
    /* padding: 0; */
    /* margin-top: 50px; */
}
@media screen and (max-width: 800px) {
    .post-video {
        object-fit: cover !important;
        width: 100%;
        height: 100vh;
    }
}

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .post-video {
        object-fit: cover !important;
        width: 100%;
        height: 100vh;
    }
}
.subheader {
    color: #000 !important;
    font-family: 'Oxygen Mono';
    font-size: 14px;
    font-weight: 400;
    line-height: 150.2%;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
    text-align: left;
}
.subheader-landing {
    color: #fff !important;
    font-family: 'Oxygen Mono';
    font-size: 12px;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 20px;
    text-align: left;
}

.floorPlan {
    margin-top: 5%;
}
.floorPlan .floorplan-cont {
    width: 70%;
}
.singleMainContent {
    /* padding-top: 5%; */
}
.title-head-cont {
    position: absolute;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title-header {
    color: #3E352C;
    font-family: 'Spectral';
    font-size: 26px;
    font-style: 'normal';
    font-weight: 400;
    line-height: 103.2%;
    margin-bottom: 10px;
    margin-top: 50px;
}
.title-header-landing {
    margin: 0 auto;
    color: #FFF;
    font-family: 'Spectral';
    font-size: 26px;
    font-style: 'normal';
    /* font-weight: 400; */
    line-height: 103.2%;
    margin-bottom: 15px;
    /* margin-bottom: 10px; */
    /* margin-top: 50px; */
}
.floorPlanBullets {
    color: #000 !important;
    font-family: 'Oxygen Mono';
    font-size: 12px;
    font-weight: 400;
    line-height: 150.2%;

    list-style-position: inside;
    vertical-align:middle;
    text-align:left
}


.add-ons {
    margin-top: 5%;
}
