* {
    box-sizing: border-box;
}
.slider {
    width: 100%;
    margin-top: 30px;
    /* margin-left: 2%; */

    /* margin: 0 auto; */
	/* padding: 30px 0; */
}
.slick-track {
    display: flex !important;
}
/* .slick-track:first-child {
    margin-left: 20px;
} */
@media screen and (max-width: 1200) {
    .slick-track:first-child {
        margin-left: 20px;
    }
}
@media screen and (max-width: 600) {
    .slick-track:first-child {
        margin-left: 0px;
    }
}
.slick-slide {
    max-height: 300px !important;
	text-align: center;
    margin: 0 5px;
}
/* .slick-slide:first-child {
    margin-left: 10px;
} */

.slick-arrow {
	z-index: 1;
	/* width: 40px;
	height: 40px; */
}
.slick-next {
	right: 0px;
}
.slick-prev {
	left: 10px;
}
.slick-slide img {
    width: 100%;
}
.slick-slide img:hover {
    filter: brightness(60%);
}
.slick-prev::before {
    /* content: "ï“"; */
    content: '\f053';
    font-family: FontAwesome;
    font-size: 28px;
    color: white;
    font-weight: 100;
    display: none;
}
.slick-next::before {
    content: '\f054';
    font-family: FontAwesome;
    font-size: 28px;
    color: white;
    font-weight: 100;
    display: none;
}
.slick-next:hover {
    right: -5px;
}
.slick-prev:hover {
    left: 5px;
}
.slick-slide {
    transition: all ease-in-out .3s;
}
.featured-works {
    overflow-x: hidden;
    margin-top: 30px;
}
.featured-works > .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

    /* Create four equal columns that sits next to each other */
.featured-works .column {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    max-width: 20%;
    padding: 0 2px;
    margin-left: 0;
    margin-right: 0;
}
.featured-works .column img:hover {
    filter: brightness(60%);
}
.featured-works .column img {
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
}

.top-padding {
    padding-top: 75px !important;
}

    /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .featured-works .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .featured-works .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
.post-video {
    object-fit: cover !important;
    width: 100%;
    height: 100vh;
    /* margin-top: ; */
}
.post-title {
    /* padding: 0; */
    /* margin-top: 50px; */
}
@media screen and (max-width: 800px) {
    .post-video {
        object-fit: cover !important;
        width: 100%;
        height: 100vh;
    }
}

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .post-video {
        object-fit: cover !important;
        width: 100%;
        height: 100vh;
    }
}
.subheader {
    color: #000 !important;
    font-family: 'Oxygen Mono';
    font-size: 14px;
    font-weight: 400;
    line-height: 150.2%;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
    text-align: left;
}
.subheader-landing {
    color: #000 !important;
    font-family: 'Oxygen Mono';
    font-size: 12px;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
    text-align: left;
}

.floorPlan .floorplan-cont {
    width: 70%;
}
.singleMainContent {
    /* padding-top: 5%; */
}
.title-header {
    color: #3E352C;
    font-family: 'Spectral';
    font-size: 26px;
    font-style: 'normal';
    font-weight: 400;
    line-height: 103.2%;
    margin-bottom: 10px;
    margin-top: 50px;
}

.floorPlanBullets {
    color: #000 !important;
    font-family: 'Oxygen Mono';
    font-size: 12px;
    font-weight: 400;
    line-height: 150.2%;

    list-style-position: inside;
    vertical-align:middle;
    text-align:left
}


.add-ons {
    margin-top: 5%;
}
